azure-cognitiveservices-vision-computervision
azure-common
azure-core
azure-datalake-store
azure-identity
azure-storage-blob
easyocr
fastapi
PyMuPDF
PyMuPDFb
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
msrest
openai
pdfplumber
pydantic
PyPDF2
python-dotenv
uvicorn
gunicorn
jinja2
python-multipart
email_validator